{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if listing.active %}
        <h1>Listing: {{ listing.title }}</h1>
    {% else %}
        <h1 style='color:grey;'>Listing: {{ listing.title }} (Closed)</h1>
    {% endif %}

    <div>
        {% if listing.photo %}
            <img style="max-width: 25%;" src="{{ listing.photo }}" class="img-fluid" alt="Auction Image">
        {% else %}
            <img src="{% static 'auctions/no_photo_available.jpg' %}" class="card-img-top" alt="Auction Image">
        {% endif %}
    </div>

    <p>{{ listing.description }}</p>

    {% if listing.active %}
        <h2>${{ listing.price }}</h2>

        <p>X bid(s) so far.</p>

        {% if request.user.is_authenticated %}
            <form action="{% url 'place_bid' listing.id %}" method="post">
                <div class="input-group mb-3" id="bid_input">
                    {% csrf_token %}
                    <input type="number" name="bid" class="form-control" placeholder="Bid" autocomplete="off" required>
                    <input class="btn btn-outline-secondary" type="submit" value="Place bid">
                </div>
            </form>
        {% endif %}
    {% else %}
        {% if listing.highest_bidder %}
            <h2 style='color:green;'>Sold to {{ listing.highest_bidder }} for ${{ listing.price }}!</h2>
        {% else %}
            <h2 style='color:red;'>Listing closed. No bids were placed.</h2>
        {% endif %}
    {% endif %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user }}</li>
        <li>Category: {{ listing.get_category_display }}</li>
    </ul>

    {% if listing.active and request.user.is_authenticated%}
        <a href="{% url 'watchlist_add' listing.id %}" class="btn btn-outline-primary">
            {% if watchlisted %}
                Remove from Watchlist</a>
            {% else %}
                Add to Watchlist
            {% endif %}
        </a>
    {% elif watchlisted %}
        <a href="{% url 'watchlist_add' listing.id %}" class="btn btn-outline-primary" disabled>
            Remove from Watchlist</a>
        </a>
    {% endif %}

    {% if listing.user == request.user and listing.active %}
        <a href="{% url 'close_listing' listing.id %}" class="btn btn-outline-danger">Close Listing</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <h3>Comments</h3>
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3" id="comment_input">
                <input type="text" name="comment" class="form-control" placeholder="Write your comment here!" autocomplete="off" required>
                <input class="btn btn-outline-secondary" type="submit" value="Add comment">
            </div>
        </form>
        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
