{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1>Listing: {{ listing.title }}</h1>

    <div>
        {% if listing.photo %}
            <img style="max-width: 25%;" src="{{ listing.photo }}" class="img-fluid" alt="Auction Image">
        {% else %}
            <img src="{% static 'auctions/no_photo_available.jpg' %}" class="card-img-top" alt="Auction Image">
        {% endif %}
    </div>

    <p>{{ listing.description }}</p>

    <h2>${{ listing.price }}</h2>

    <p>X bid(s) so far.</p>

    <form action="{% url 'place_bid' listing.id %}" method="post">
        <div class="input-group mb-3" id="bid_input">
            {% csrf_token %}
            <input type="number" name="bid" class="form-control" placeholder="Bid" autocomplete="off" required>
            <input class="btn btn-outline-secondary" type="submit" value="Place bid">
        </div>
    </form>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>

    <a href="{% url 'watchlist_add' listing.id %}" class="btn btn-outline-primary">
        {% if watchlisted %}
            Remove from Watchlist</a>
        {% else %}
            Add to Watchlist
        {% endif %}
    </a>
{% endblock %}
