{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1>Listing: {{ listing.title }}</h1>

    <div>
        {% if listing.photo %}
            <img style="max-width: 25%;" src="{{ listing.photo }}" class="img-fluid" alt="Auction Image">
        {% else %}
            <img src="{% static 'auctions/no_photo_available.jpg' %}" class="card-img-top" alt="Auction Image">
        {% endif %}
    </div>

    <p>{{ listing.description }}</p>

    <h2>${{ listing.current_price }}</h2>

    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
    
    <a href="watchlist/{{ listing.id }}" class="btn btn-outline-primary">Add to Watchlist</a>
{% endblock %}